<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Prashant Hotels | Staff</title>
</head>
<body>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>position</th>
        </tr>
        <tr th:each="staff:${staffs}">
            <td th:text="${staff.firstName}">First Name</td>
            <td th:text="${staff.lastName}">Last Name</td>
            <td th:text="${staff.position}">Position</td>
        </tr>
    </table>
</body>

</html>